:root {
  --primary-color: #316c72;
  --dark-bg: #18181c;
}

html {
  font-size: 2px;
}

body {
  font-size: 10px;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

html.dark {
  background: var(--dark-bg);
}
